<ng-container *ngIf="(products$ | async) as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-12">
            LOADING...
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="text-center col-12">
            <div class="alert alert-danger">
                {{result.errorMessage}}
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Selected</th>
                <th>Available</th>
            </tr>
            <app-product-item [product]="p" *ngFor="let p of result.data"
                style="display: contents">
            </app-product-item>
        </table>
    </ng-container>
</ng-container>