<ng-container *ngIf="productsState$ | async as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.INITIAL_STATE">
        <div class="col-12">
            Initial State
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-12">
            LOADING...
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="text-center col-12">
            <div class="alert alert-danger">
                {{state.errorMessage | json}}
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Selected</th>
                <th>Available</th>
            </tr>
            <app-product-item [product]="product" *ngFor="let product of state.products"
                style="display: contents">
            </app-product-item>
        </table>
    </ng-container>
</ng-container>