<tr *ngIf="product">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price | currency}}</td>
    <td>{{product.quantity}}</td>
    <td>
        <span [ngClass]="product.selected? 'fa fa-check-square-o text-success' : 'fa fa-square-o text-success'"
            (click)="onSelect(product)">
        </span>
    </td>
    <td><span [ngClass]="product.available? 'fa fa-cart-plus text-success' : 'fa fa-ban text-danger'"></span></td>
    <td>
        <button class="btn btn-sm" (click)="onDelete(product)">
            <span class="fa fa-trash-o"></span>
        </button>
    </td>
    <td>
        <button class="btn btn-sm" (click)="onEdit(product)">
            <span class="fa fa-edit"></span>
        </button>
    </td>
</tr>